.search-bar {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.search-bar.rounded input {
  border-radius: 8px; /* 候補がない場合は検索バー全体を丸くする */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #888;
}

input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px 8px 0 0; /* 検索バーの下端を角ばったままに */
  outline: none;
}

.suggestions-list {
  position: absolute;
  top: 100%; /* 検索バーの直下に配置 */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none; /* 検索バーと一体化させるため上部のボーダーを削除 */
  border-radius: 0 0 8px 8px; /* 検索候補リストの下端を角丸に */
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  list-style-type: none; /* デフォルトのリストスタイルを削除 */
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: white; /* 非アクティブ時の背景色を統一 */
}

.suggestion-item.active {
  background-color: #e0e0e0; /* アクティブ時の背景色 */
}

.suggestion-code {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.suggestion-separator {
  color: #888;
}

.suggestion-name {
  color: #555;
}
